@page "/"



<MudGrid>
    <MudItem xs="12" Class="d-flex align-stretch">
        <MudGrid Justify="Justify.FlexStart">
            <ProductCard Style="height:auto; display:flex" Class="flex-grow-1 order-0 align-self-stretch"></ProductCard>
            <MudItem Class="order-1">
                <MudGrid Justify="Justify.Center">
                    <MudItem xs="12" >
                        <MudCarousel TData="object" AutoCycle="true" ShowArrows="false" ShowDelimiters="false" Style="height:250px">
                            <MudCarouselItem>
                                <div class="d-flex" style="height:100%; width:300px; background-image:url(/images/mpu.jpg)">
                                    
                                </div>
                            </MudCarouselItem>
                            <MudCarouselItem>
                                <div class="d-flex" style="height:100%; width:300px; background-image:url(/images/mpu-en.png)">
                                    
                                </div>
                            </MudCarouselItem>
                        </MudCarousel>
                    </MudItem>
                    <MudItem xs="12">
                        <NoContentProductCards xs="12"></NoContentProductCards>
                    </MudItem>
                    
                </MudGrid>
            </MudItem>

        </MudGrid>
    </MudItem>
    <CategoryPreviewBlock Xs="12"></CategoryPreviewBlock>
    <CategoryPreviewBlock Xs="12"></CategoryPreviewBlock>
    <CategoryPreviewBlock Xs="12"></CategoryPreviewBlock>
    <CategoryPreviewBlock Xs="12"></CategoryPreviewBlock>
    <CategoryPreviewBlock Xs="12"></CategoryPreviewBlock>
    <CategoryPreviewBlock Xs="12"></CategoryPreviewBlock>
    @*        <MudItem xs="12">
        <ProductCardsCarousel Source="@(new List<string>(){"adsf","asdf","asdfasd","asdfasdf","asdfasdf"})"></ProductCardsCarousel>
        </MudItem>*@
</MudGrid>
