
<MudItem Style="text-align:center;">
    <label>Quantity</label>
    <br />
    <MudButtonGroup Variant="Variant.Filled" Size="Size.Small" Color="Color.Default">
        <MudIconButton Icon="@Icons.Filled.Remove" Variant="Variant.Filled" Color="Color.Default" Size="Size.Small" 
        Disabled="@(Quantity<1)" OnClick="Decrease" />
        <MudText Style="margin:auto 8px auto 8px;">
            @Quantity
        </MudText>
@*        <MudButton Variant="Variant.Text" DisableRipple="true" Disabled="true" Size="Size.Small" Class="pa-0"
        Style="color:black; font-size:1rem;">@Quantity</MudButton>*@
        <MudIconButton Icon="@Icons.Filled.Add" Variant="Variant.Filled" Color="Color.Default" Size="Size.Small"
        OnClick="Increase"/>
        </MudButtonGroup>
</MudItem>

@code{
    [Parameter] public int AvailableQuantity { get; set; }
    public int Quantity { get; set; }
    [CascadingParameter]
    public DealOptionBlock DealOptionBlock { get; set; }
    public void Decrease()
    {
        if (Quantity > 0){
            Quantity--;
            //DealOptionBlock.ProductInfo.SelectedQuantity = Quantity;
            DealOptionBlock.ProductInfo.SelectedOptions.Remove(DealOptionBlock.OptionId);
            DealOptionBlock.ProductInfo.SelectedOptions.Add(DealOptionBlock.OptionId, Quantity);
        }
    }
    public void Increase(){
        if (Quantity < AvailableQuantity) Quantity++;
        DealOptionBlock.ProductInfo.SelectedOptions.Remove(DealOptionBlock.OptionId);
        DealOptionBlock.ProductInfo.SelectedOptions.Add(DealOptionBlock.OptionId, Quantity);
    }
}